@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #F9F9FF;
    line-height: 1.6;
    color: #1f2937;
    padding: 40px 20px;
}



body {
    background-color: #F9F9FF;
    min-width: 1200px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0 32px;
    height: 60px;
    border-bottom: 1px solid #e0e0e0;
}

.header1 {
    display: flex;
    align-items: center;
    gap: 48px;
}

.claimit-onheader {
    font-size: 24px;
    font-weight: 700;
    color: #1D4ED8;
    border-color: #FFFFFF;
    box-shadow: #0000000D;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0px 60px;
}

.navbar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #475569;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    display: inline-block;
}

.navbar a:hover {
    color: #1D4ED8;
    border-bottom: 2px solid #1D4ED8;
}

.header2 {
    display: flex;
    align-items: center;
    gap: 16px;
}


.noti-acc-button {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #414754;
}

.noti-acc-button:hover {
    color: #1D4ED8;
}

.site-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 32px;
    border-top: 1px solid #E2E8F0;
    background-color: #F8FAFC;
}

.footer-brand {
    font-size: 16px;
    font-weight: 700;
    color: #94A3B8;
}

.footer-middle {
    display: flex;
    gap: 24px;
    margin-left: 170px;

}

.footer-middle a {
    text-decoration: none;
    font-size: 12px;
    color: #94A3B8;
    font-weight: 400;
}

.footer-middle a:hover {
    color: #1D4ED8;
}

.footer-right p {
    font-size: 12px;
    color: #94A3B8;
    font-weight: 400;
}

.tabs-cont {
    display: flex;
    justify-content: center;
    padding: 20px 40px 0;
    background: #f8fafc;
    padding: 20px 40px 0;
    margin-bottom: 40px;
}

.tabs {
    display: flex;
    background-color: white;
    border-radius: 12px;
    padding: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.tab {
    font-weight: 500;
    padding: 12px 23px;
    text-decoration: none;
    color: #475569;
    font-size: 16px;
}

.tab_act {
    padding: 12px 23px;
    font-size: 16px;
    font-weight: 600;
    color: #1D4ED8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
}

.page-header h1 {
    font-size: 48px;
    font-weight: 800;
    color: #191C23;
    margin-bottom: 8px;
}

.page-header p {
    font-size: 18px;
    font-weight: 400;
    color: #191C23;
    max-width: 700px;
}

.content-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    margin-top: 40px;
}

.content {
    width: 100%px;
}

.claim-card {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 35px 20px;
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
    position: relative;
}

.image img {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    flex-shrink: 0;
}

.claim-content {
    flex: 1;
    position: relative;
}

.status {
    display: inline-block;
    background: #987000;
    border-radius: 20px;
    padding: 4px 10px;
    font-style: 10px;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 10px;
    margin-bottom: 12px;
}

.claim-date {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

.claim-date h5 {
    font-size: 12px;
    color: #727785;
    font-weight: 500;
    margin-bottom: 4px;
    padding-right: 140px;
}

.claim-date span {
    font-size: 14px;
    font-weight: 700;
    font: bold;
    margin-bottom: 20px;
}

.claim-content h2 {
    font-size: 20px;
    font-weight: 700;
    font: bold;
    color: #191C23;
}

.claim-date p {
    font-size: 14px;
    font-weight: 500;
    color: #414754;
    margin-bottom: 20px;
}

.view-details {
    color: #005BBF;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.arrow {
    font-size: 18px;

}

.summary-card {
    background: #F2F3FD;
    border-radius: 12px;
    padding: 32px;
    width: 100%;
}

.summary-card h3 {
    font-size: 18px;
    font: bold;
    font-weight: 800;
    color: #191C23;
}

.summary-stats .stat {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;

}

.label {
    font-size: 14px;
    font-weight: 500;
    color: #414754;
}

.pending {
    color: #987000;
    font-size: 14px;
    font-weight: 500;
}

.completed {
    color: #006E2C;
    font-size: 14px;
    font-weight: 500;
}

.value {
    font-size: 24px;
    font-weight: 700;
    font: bold;
}

.pen-value {
    font-size: 24px;
    font-weight: 700;
    font: bold;
    color: #987000;
}

.comp-value {
    font-size: 24px;
    font-weight: 700;
    font: bold;
    color: #006E2C;
}

.info-box {
    margin-top: 70px;
    background: #1A73E81A;
    padding: 16px;
    border-radius: 8px;
}

.info-box p {
    color: #005BBF;
    font-size: 12px;
    font-weight: 500;
}

.slide {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 50px;
    margin-bottom: 50PX;

}

.page-btn {
    width: 40px;
    height: 40px;
    border: none;
    background: #f1f5f9;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #414754;
    font-weight: 700;
}

.page-btn:hover {
    background: #e2e8f0;
}

.page-btn.activate {
    background: #1D4ED8;
    color: #e2e8f0;
}